<nav>
    <ul>
        <li><a class="<%= (path === '/') ? 'active' : '' %>" href="/">Home</a></li>
        <li><a class="<%= (path === '/product') ? 'active' : '' %>" href="/product">Product</a></li>
        <li><a class="<%= (path === '/cart') ? 'active' : '' %>" href="/cart">Cart</a></li>
        <li><a class="<%= (path === '/order') ? 'active' : '' %>" href="/order">Order</a></li>
        <li><a class="<%= (path === '/add-product') ? 'active' : '' %>" href="/add-product">Addproducts</a></li>
        <li><a class="<%= (path === '/admin-product') ? 'active' : '' %>" href="/admin-product">AdminProduct</a></li>
    </ul>
</nav>
